{#
/**
 * @file oafc_mini.html.twig
 * Default theme implementation to present OAFC mini data.
 *
 * This template is used when viewing OAFC mini pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oafc_mini()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('oafc_mini') }}>
    {{ title_suffix }}
    {{ elements }}
</div>
